# General OpenOCD configuration
# Use 'source' to include interface and target files
source [find interface/ftdi/um232h.cfg]
transport select jtag
source [find target/stm32f1x.cfg]
adapter speed 1000
